*,
.view {
  padding: 0 auto;
  margin: 0;
  overflow-x: hidden;
}

/* Estilos para el Header -------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  grid-gap: 0.1%;
  border-radius: 0 0 50px 50px;
}

#container-left, #container-right{
  display: flex;
  align-items: center;
}

#container-left {
  margin-left: 20px;
}

#container-right {
  margin-right: 20px;
  margin-top: 15px;
}

.logo-header {
  width: 100px;
  height: 10 0px;
}

.title-kdrama {
  font-family: "Bungee", sans-serif;
  color: rgba(76, 76, 109, 1);
  padding-top: 20px;
  line-height: 1.3;
  font-size: 1.5em;
  margin: 0;
}

.title-verse {
  display: block;
  overflow: hidden;
}

.button-group-chat, .button-appi-key {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  overflow-y: hidden;
  width: auto;
  height: 60px;
  border-color: transparent;
  display: inline;
  align-items: center;
  padding: 5px 10px;
}

.button-group-chat {
  background-color: rgba(255, 225, 148, 1);
  margin-right: 10px; /* Agrega un margen entre los botones */
}

.button-appi-key {
  background-color: rgba(76, 76, 109, 1);
  color: rgba(255, 225, 148, 1);
}

.logo-group-chat {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 8px;
}

body {
  background: rgba(76, 76, 109, 1);
  margin: 0 auto;
  overflow: hidden;
}

/* Para la parte del menu del filtrado, ordenado, estadisticas y limpiar---------------------------*/
.menu {
  margin-top: 1.5rem;
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Genre-menu,
.Order-menu,
.stats-menu,
.Menu-clear {
  display: flex;
  float: none;
  margin: 1rem 0;
  margin-left: 1rem;
  grid-gap: 1rem;
}

label {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 225, 148, 1);
  margin-top: 5px;
}

select,
#stats1,
[data-testid="button-clear"] {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  background-color: rgba(184, 223, 216, 1);
  border-radius: 10px;
  margin-left: 5px;
  color: rgba(30, 30, 30, 1);
  padding: 0.5%;
  cursor: pointer;
  text-align: center;
  overflow-x: hidden;
  float: right;
  width: 160px;
  height: 40px;
  border: none;
}
/* .accept */
.button-clear {
  background: rgba(255, 225, 148, 1);
  margin-left: 40px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  border: none;
}

.logo-clear {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 8px;
}

/* Para la pantalla emergente estadisticas */
#stats1 {
  width: 250px;
  height: 40px;
}

#texto-stats {
  text-align: center;
  font-size: 1.25em;
  margin-top: 40px;
}

/* estilos de la pantalla emergente estadisticas */
.content-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* 
.modal-key {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 350px;
  background-color: rgba(232, 246, 239, 1);
  border: 1px;
  border-radius: 10px;
  align-items: center;
}

.modal-header {
  padding: 3px;
  border-bottom: 2px;
  align-items: center;
}

.logo-kdrama {
  width: 50px;
  height: 50px;
}

.modal-main {
  display: block;
  align-items: center;
  justify-content: center;
}

/* boton cerrar de pantalla emergente de estadistica */
.modal-footer {
  padding: 25px;
  display: flex;
}

#page {
  overflow-y: hidden;
}

/* .cancel-modal-footer-key */

.button-close {
  background-color: rgba(76, 76, 109, 1);
  color: rgba(255, 225, 148, 1);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  font-size: 1em;
  padding: 8px 18px;
  text-align: center;
  display: flex;
  gap: 5px;
  align-items: center;
}

/* estilos de la pantalla emergente Api Key */

.content-modal-key {
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.modal-body-key {
  display: grid;
  background-color: rgba(184, 223, 216, 1);
  width: 450px;
  height: 350px;
  border-radius: 20px;
  border-color: transparent;
  align-items: center;
  justify-content: center;
}
.modal-header {
  margin: 0 auto;
}
#title-modal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 25px;
  color: rgba(76, 76, 109, 1);
}
.container-input {
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
}
.modal-footer-key {
  display: grid;
}
.accept {
  background: rgba(255, 225, 148, 1);
  border-radius: 10px;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border: none;
}
.cancel-modal-footer-key {
  background-color: rgba(76, 76, 109, 1);
  color: rgba(232, 246, 239, 1);
  border-radius: 10px;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border: none;
}
.generate-api {
  color: rgba(76, 76, 109, 1);
  border-bottom: 2rem;
}

/*---------Vista Home----------------------------------------------------------------------*/
.main {
  margin: center;
  padding: 30px;
}

/*para el texto de bienvenida*/
.welcome-text {
  font-size: 32px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: rgba(232, 246, 239, 1);
  margin: 30px 0;
  text-align: center;
  /* Aqui le damos el efecto de aparicion al texto */
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.viewDetailCard {
  overflow: hidden;
}

/*para las tarjetas (items)----*/
.image-card {
  width: 100%;
  height: 200px;
  margin: 0px;
  border-radius: 5% 5% 0 0;
}

.description-Total {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgba(76, 76, 109, 1);
}

.name-kdrama {
  margin: 0.4rem;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgba(30, 30, 30, 1);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 40px 0;
  /*Los items tienen el mismo espacio a su alrededor*/
  justify-content: space-around;
}

.list {
  background: rgba(184, 223, 216, 1);
  width: 25.6rem;
  height: 17.5rem;
  border-radius: 5%;
  padding: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: rgba(184, 223, 216, 1);
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* ------------------Vista chat individual-----------------.--.----- */
/* la tarjeta del Kdrama */

.card {
  display: flex;
  height: 80%;
}

.detail-card-total{
  width: 25%;
  height: 80%;
  margin: 0.5% 3.5% ;
}

.detail-card-top {
  background: rgba(184, 223, 216, 1);
  margin: 1%;
  width: 95%;
  height: 10%;
  border-radius: 3.5%;
  overflow-y: hidden;
  padding: 5px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.image-kdrama-card {
  width: 100%;
  height: 5%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.name-kdrama-card {
  margin: 0.4rem;
  margin-left: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgba(30, 30, 30, 1);
  font-weight: bold;
}

.description-Total-card {
  margin: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 1.01rem;
  color: rgba(76, 76, 109, 1);
}

.title-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.05rem;
  color: rgba(30, 30, 30, 1);
  font-weight: bold;
}

.description {
  margin: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 1.01rem;
  color: rgba(76, 76, 109, 1);
}


/* boton pagina principal del chat individual */
.detail-card-bottom {
  text-align: justify;
  width: 100%;
  height: 10%;
}

.button-return-home{
  background: rgba(232, 246, 239, 1);
  width: 97%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin: 1%;
  padding: 5px;
  text-align: center;
}

.logo-home {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

/* Para los estilos de el chat con IA  */
.chat {
  width: 60%;
  background-color: rgba(232, 246, 239, 1);
  margin: 0.7% 2.5% 0.7% 1%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-name,
.chat-group-content {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  background-color: rgba(184, 223, 216, 1);
  overflow: hidden;
}

.image-kdrama-chat {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 1.5%;
}

.chat-detail {
  position: relative;
  padding: 1% ;
}

.name-kdrama-chat {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgba(30, 30, 30, 1);
  font-weight: bold;
  margin-top: 2.5%;
  width: 100%;
}

.chat-on {
  font-family: "Roboto", sans-serif;
  font-size: 1.01rem;
  color: rgba(76, 76, 109, 1);
}

.box-response-total{
  background-color: rgba(232, 246, 239, 1);
  width: 90%;
  /* height: 65%; */
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.box-response-user,
.box-response-chat {
  width: 45%;
  height: 50px;
  background-color: rgba(76, 76, 109, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 15px 15px 0 15px;
  margin-left: 55%;
  padding: 10px;
  text-align: right;
  font-family: "JetBrains Mono", monospace;
}

.box-response-chat{
  background-color: rgba(184, 223, 216, 1);
  border-radius: 15px 15px 15px 0;
  margin-left: 1%;
  margin-top: 20px;
  color: black;
  text-align: left;
}

.input-chat {
  display: flex;
  width: 95%;
  height: 10%;
  margin-left: 7px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

#input-user {
  border: none;
  width: 90%;
  margin-left: 1em;
  font-size: 18px;
}

input[type="submit" i] {
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  align-items: right;
}

/* Para la vista chat grupal ------------------------------------- */
.container-chat {
  display: flex;
  height: 80%;
}


.list-group-chat{
  display: flex;
  height: 80%; 
}

.ul-group {
  background: rgba(184, 223, 216, 1);
  width: 95%;
  height: 515px;
  border-radius: 15px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.group-chat{
  width: 60%;
    background-color: rgba(232, 246, 239, 1);
    margin: 0.7% 2.5% 0.7% 1%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.list-group {
  display: flex;
  padding: 0px;
}


.text-group-chat {
  margin-left: 25px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}


/* Para la vista error ------------------------------------------------------------ */
.error-container {
  display: grid;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.titulo {
  width: 600px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
}
.logo-error {
  width: 300px;
  height: 300px;
  margin-left: 25px;
  margin-top: 45px;
}
.error-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}
.button-return-home.error {
  background-color: rgba(255, 225, 148, 1);
  width: 600px;
  border: none;
  margin-left: 0px;
}
