* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


#root {
    /* background-color: #AF4401; */
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;  
}

ul {
    /* background-color: purple; */
    list-style: none;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}


  /* Card styles */

.card-container {
    /* background-color: #EBD0BF; */
    padding: 5px;
    width: 276px;
    border-radius: 10px;
    height: 481px;
    margin: 30px 40px;
    box-shadow: 2px 2px 5px gray;
}

li.card-container.ornamental {
    background-color: #C4CBC5;
}

li.card-container.medicinal {
    background-color: #D3DBC6;
}

li.card-container.desertica {
    background-color: #F3F2D3;
}

li.card-container.arboles {
    background-color: #F9EDD5;
}

li.card-container.aromatica {
    background-color: #EBD0BF;
}

.hide {
    display: none;
}

/* Front card styles */

#front-card {
    /* background-color: #EBD0BF; */
    padding: 5px;
    height: 458px;
    margin: auto;
}

#front-card h2 {
    /* background-color: aqua; */
    text-align: center;
    font-family: 'Marcellus', serif;
    color: #AF4401;
    padding: 10px;
}

#front-card .top-card {
    /* background-color: black; */
    display: flex;
    margin: 5px 0 10px 1px;
}

#front-card img {
    margin: 0;
    /* background-color: #AF4401; */
}

#front-card .top-card dl {
    /* background-color: aqua; */
    text-align: center;
    margin: 10px 0 0 25px;
    height: 234px;
}

#front-card .top-card dt {
    /* background-color: #AF4401; */
    font-size: small;
    margin: 10px 0 5px 0;
}

#front-card .top-card .amounts dd {
    padding: 5px;
    /* background-color: blue; */
    border-radius: 5px;
    border: #8A988C .5px solid;
    box-shadow: 1px 1px 5px grey;
    height: 40px;
}

#front-card .top-card .amounts img {
    /* background-color: white; */
    width: 20px;
    height: 20px;
    margin: 4px 0;
}

#front-card .amounts img.inactiva {
    opacity: .5;
}

#front-card p {
    /* background-color: aliceblue; */
    padding: 5px;
    margin: 10px 0;
    font-size: 15px;
    height: 80px;
}

#front-card .button-container {
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

#front-card button {
    background-color: #D7A180;
    width: 137px;
    height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px grey;
}

.homeButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-button i {
  color: white;
  font-size: 24px;
}
