/* Media Querys */

  /*Vista Portada*/

  /*Vista Error*/

  /*Vista Home*/

  /*Vista chat individual*/

  /*Vista chat grupal*/

  /*Vista API*/

  /*Vista Estadisticas*/




  
@media (max-width: 900px) {/*para pantallas de máximo 600px*/
    /* CSS rules for sizes smaller than 600px */
  .asideFilter{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .asideFilter ul{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .asideFilter > div:nth-child(7){
    display: flex;
    justify-content: center;
  }
  .asideFilter label h2{
    margin-bottom: 0.8rem;
  }
  section {
    width: 100%;
  }
  .buscador{
    justify-content: center;
  }
  .buscador input, .buscador select{
    width: 70%;
  }
  .buscador h2{
    display: none;
  }
  .buscador div {
    flex-direction: column;
    width: 100%;
  }
  #content ul{
    justify-content: center;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  header nav{
    flex-wrap: wrap;
    justify-content: center;
  }
  main{
    flex-direction: column;
  }
  .btn-clear-search {
    display: none;
  }
  }