*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#viewError{
    /*para que el footer este abajo usando grid*/
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
#header{
    font-family: "Ubuntu";
    background-color: black;
    color: white;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
    padding:5px;
}
#logoHeader{
    width:50px;
    height: auto;
    padding-right:10px;
}
#contentError{
    background-image: url("./Imagenes/ERROR.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
}
.titleError{
    display: flex;
    justify-content: center; 
    padding-top: 8vh;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size:5vh;
    justify-content: center; 
}
.textEror{
    display: flex;
    justify-content: center; 
    font-size:2.5vh ;
    font-family: "JetBrains Mono";
}
#articleMenu{
    border-top-style: solid;
    border-color: rgb(0, 0, 0);
    justify-content:space-evenly;
    display: flex;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size:37px;
}
/*View Welcome*/
#welcomeMain{
    background-image: url("./Imagenes/Inicio.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family: "JetBrains Mono";
    color: white;
}
.welcomeSection{
    width: 50%;
    height:fit-content;
    top:20%;
}
.containerWelcome{
    width:90%;
    height:60vh;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(255, 255, 255);
    margin-left:8%;
    margin-top: 1%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
#welcomeMain h1{
    font-size:40px;
}
#welcomeMain h2{
    font-size: 35px;
}
#welcomeMain h3{
    font-size: 16px;
    width:40%; 
}

/* VIEW CARD*/
#bannerGaleria{
    background-image:url("./Imagenes/banner.jpg");
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.galeria{
    font-family: "JetBrains Mono";
    background-color: #f5f1e5;
    min-width: 30%;
    font-size: 32px;
    text-align: center;
    height: fit-content;

}
@media(max-width: 768px){
    #header{
        height:50px;
        font-size:35px;
    }
    .material-symbols-outlined {
        font-size:28px;
    }
    #welcomeMain h1{
        font-size:30px;
    }
    #welcomeMain h2{
        font-size: 25px;
    }
    #welcomeMain h3{
        font-size: 13px;
        width:65%; 
    }
    .galeria{
        min-width: 40%; 
        font-size: 28px;
    }
    #bannerGaleria{
        height: 62px;
    }
}


